[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?
._*
.Trashes
.idea

/config/config.local.neon
/mango.local.yaml
/mango.local.json
/.mango-snippet.html
/node_modules
/npm-debug.log
/yarn.lock

# WordPress
/public/*
!/public/wp-content
!/public/wp-config.php
/public/wp-content/*
!/public/wp-content/mu-plugins

# Assets
!/public/assets
/public/assets/*
!/public/assets/images

/vendor
