@import "config";
@import "media-query-mixins";

@mixin page-horizontal-padding {
	padding-left: $spacer;
	padding-right: $spacer;

	@include for-tablets-and-larger {
		padding-left: $spacer * 1.5;
		padding-right: $spacer * 1.5;
	}

	@include for-big-desktops-and-larger {
		padding-left: $spacer * 8;
		padding-right: $spacer * 8;
	}
}
