@import "config";
@import "media-query-mixins";

@mixin page-horizontal-padding {
	padding-left: $spacer;
	padding-right: $spacer;

	@include for-tablets-and-larger {
		padding-left: $spacer * 1.5;
		padding-right: $spacer * 1.5;
	}

	@include for-big-desktops-and-larger {
		padding-left: $spacer * 8;
		padding-right: $spacer * 8;
	}
}

@mixin button($text-color, $bg-color) {
	border-radius: $button-border-radius;
	background-color: $bg-color;
	padding: $spacer * 0.5 $spacer;
	color: $text-color;
	transition: background-color 0.2s;

	&:hover {
		text-decoration: none;
		color: $text-color;
		// Lighten the background color (rgba() works better than lighten() on both
		// dark and light colors).
		background-color: rgba($bg-color, 0.7);
	}
}

@mixin primary-button {
	@include button(#fff, #000);
}

@mixin secondary-button {
	@include button(#000, #e7e7e7);
	font-weight: 300;
}
