@import "~bootstrap/scss/bootstrap-reboot";
@import "icons";

$font-stack: Roboto, sans-serif;
$font-stack-funny: "Amatic SC", "Roboto Slab";
$primary-color: #000000;

body {
	font: 100% $font-stack;
	color: $primary-color;
}

.page-header {
	width: 100%;
	height: 600px;
	background-image: url("../images/page-header-bg-blue.png"),
		url("../images/page-header-bg-yellow.png");
	background-position: center 40px, center top;
	background-repeat: repeat-x, repeat-x;

	&__container {
		height: 350px;
		margin: 0 auto;
		background: url("../images/page-header-bg-boat.png") center center no-repeat;
	}

	&__title {
		font-family: $font-stack-funny;
		font-size: 50px;
		width: 50%;
		text-align: right;
		letter-spacing: -1px;
		line-height: 1.2;
		text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.6);

		strong {
			font-size: 128px;
		}
	}
}

.page-navbar {
	$navbar-height: 100px;
	$active-background: rgba(255, 255, 255, 0.2);
	$menu-separator-border: 1px solid rgba(0, 0, 0, 0.3);
	$menu-z-index: 100;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: $navbar-height;
	padding: 0 1.5rem;

	@mixin menu-collapsed {
		opacity: 0;
		transform: translateY(-40px);
		transform-origin: top;
		max-height: 0;
		overflow: hidden;
		transition: all 0.2s;
	}

	@mixin menu-expanded {
		opacity: 1;
		transform: translateY(0);
		max-height: 1600px;
	}

	&__logo {
		display: flex;
		align-items: center;
		z-index: $menu-z-index + 1;

		img {
			height: 53px;
			margin-right: 10px;
		}

		a {
			font-size: 20px;
			font-weight: 500;
			color: black;
		}
	}

	&__hamburger {
		z-index: $menu-z-index + 1;
		padding: 0.5rem;

		label {
			transition: all 0.2s;
			display: block;
			background: url("../images/navbar-hamburger.png") no-repeat center center;
			background-size: 37px 29px;
			width: 37px;
			height: 29px;
			cursor: pointer;
			font-size: 0;
			margin: 0;
		}

		&:hover {
			background-color: $active-background;
		}
	}

	input[type="checkbox"] ~ &__menu {
		@include menu-collapsed();
	}

	input[type="checkbox"]:checked ~ &__menu {
		@include menu-expanded();
	}

	input[type="checkbox"]:checked ~ &__hamburger {
		label {
			background-image: url("../images/navbar-hamburger-expanded.png");
		}
	}

	&__menu {
		position: absolute;
		top: 0;
		left: 0;
		z-index: $menu-z-index;
		width: 100%;
		padding: 0 1.5rem;

		background-image: url("../images/page-header-bg-yellow-top-120px.png"),
			url("../images/page-header-bg-yellow-pattern-120px-from-top.png");
		background-position: center top, center 120px;
		background-repeat: repeat-x, repeat;
		mask-image: url("../images/navbar-mask.png");
		mask-position: center bottom;

		// Add top & bottom "padding" to the menu to create space for the navbar and
		// for the fuzzy bottom border. Standard padding doesn't work well with
		// max-height which is used to collapsing / expanding the menu
		&:before {
			content: "";
			display: block;
			height: $navbar-height;
		}
		&:after {
			content: "";
			display: block;
			height: 60px;
		}

		ul {
			margin: 0;
			padding: 0;

			ul {
				background-color: $active-background;
				margin-left: 1.5rem;
				font-size: 0.9rem;
				margin-top: -1px; // To shrink the border in between.
			}
		}

		li {
			list-style-type: none;
		}

		a {
			display: block;
			position: relative;
			border-bottom: $menu-separator-border;
			color: black;
			padding: 1rem;
			outline: 0;

			label {
				$icon-size: 1.8rem;
				position: absolute;
				top: 50%;
				right: 0.1rem;
				margin: -($icon-size / 2) 0 0;
				padding-left: 0.2rem;
				font-size: 0;
				border-left: $menu-separator-border;
				cursor: pointer;

				&:after {
					content: "";
					display: block;
					@include icon_chevron_right();
					background-size: $icon-size $icon-size;
					width: $icon-size;
					height: $icon-size;
					transition: transform 0.3s;
				}
			}
		}

		li:first-child a {
			border-top: $menu-separator-border;
		}

		a:hover {
			text-decoration: none;
			background-color: $active-background;
		}

		input[type="checkbox"]:checked + a {
			background-color: $active-background;

			label {
				&:after {
					transform: rotate(90deg);
				}
			}
		}

		input[type="checkbox"] ~ ul {
			@include menu-collapsed();
		}

		input[type="checkbox"]:checked ~ ul {
			@include menu-expanded();
		}

		// Search (also part of the menu)

		&__search {
			width: 100%;
			border: 1px solid black;
			display: flex;
			margin-top: 1rem;

			input {
				border: 0;
				padding: 0.7rem 1rem;
			}

			input[type="text"] {
				flex-grow: 1;
				min-width: auto;
			}

			input[type="text"]::placeholder {
				font-weight: 300;
			}

			input[type="button"] {
				width: 100px;
				background-color: black;
				color: white;
				font-weight: 700;
			}
		}
	}

	// Necessary menu mechanics
	input[type="checkbox"] {
		display: none;
	}
}

.page-body {
	width: 1000px;
	margin: 0 auto;
	min-height: 2000px;
}
