@import "~bootstrap/scss/bootstrap-reboot";
@import "comaci";
@import "config";
@import "events";
@import "page-content";
@import "page-header";
@import "page-jumbotron-header";
@import "page-navbar";
@import "pagination";

body {
	font-family: $primary-font-family;
	color: black;
}

h1 {
	font-family: $secondary-font-family;
	letter-spacing: -2px;
}

h2 {
	font-size: 2rem;
	line-height: 1.2;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

// TODO: Move this to a separate file
.page-body {
	width: 1000px;
	margin: 0 auto;
	min-height: 2000px;
}
