@import "config";
@import "icons";
@import "media-query-mixins";

.page-jumbotron-header {
	height: 600px;
	background-image: url("../images/page-header-bg-blue.png"),
	  url("../images/page-header-bg-yellow.png");
	// If you change the top offset for the blue background, you also need to
	// update the parallax effect definition in public/assets/scripts/index.js.
	background-position: center 40px, center top;
	background-repeat: repeat-x, repeat-x;

	// By default we optimize for small screens and show the boat bellow the
	// jumbotron text.

	h1 {
		text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.6);
		text-align: center;
		line-height: 1;
		margin: 0;
		padding-top: 50px;
	}

	&__title {
		font-size: 7.5rem;
		font-weight: bold;
		display: block;
	}

	&__subtitle {
		font-size: 2.5rem;
		font-weight: normal;
		max-width: 300px; // To wrap the subtitle to multiple lines
		margin: 0 auto;
		display: block;
	}

	&__boat {
		background: url("../images/page-header-bg-boat.png") center center no-repeat;
		height: 237px;
		// Move the boat up a little to overlap the text above
		position: relative;
		top: -28px;
	}

	// On bigger screens with enough space, we show the boat to the right of the
	// jumbotron text.
	@include for-tablets-and-larger {
		$boat-z-index: 0;
		position: relative; // To position the boat absolutely

		h1 {
			padding-top: 30px;

			// Align the text to the right with center line.
			padding-right: 50%;
			text-align: right;

			// Put the text over the boat and waves.
			position: relative;
			z-index: $boat-z-index + 1;
		}

		&__title {
			font-size: 8rem;
		}

		&__subtitle {
			font-size: 3.1rem;
			line-height: 1.2;
			max-width: 200px; // To wrap the subtitle to multiple lines
			margin: 0;
			float: right;
		}

		&__boat {
			width: 100%;
			position: absolute;
			top: 200px;
			// Move the boat off-center to the right.
			background-position: calc(50% + 220px) 50%;
			z-index: $boat-z-index;
		}
	}
}
