@import "media-query-mixins";
@import "common-mixins";

.page-header {
	background-image: url("../images/white-fuzzy-border-bottom.png"),
		url("../images/bg-gray-pattern.png");
	background-repeat: repeat-x, repeat;
	background-position: center bottom, center center;
	text-align: center;

	@include page-horizontal-padding();

	padding-top: $spacer * 3;

	// Matches the height of the bottom fuzzy border.
	padding-bottom: 69px;

	margin-bottom: $component-spacer;

	img {
		max-height: 200px;
		margin-bottom: 16px;
	}

	h1 {
		font-size: 4.4rem;
		line-height: 1;

		@include for-tablets-and-larger {
			font-size: 5rem;
		}
	}

	&__subtitle {
		font-size: 1.1rem;
		padding-bottom: $spacer;
	}
}
