@import "media-query-mixins";

// Responsive navbar with the logo, a multi-level navigation menu and a
// search form.
//
// The multi-level expandable menu does not rely on any JavaScript. It's pure
// CSS. This is challenging for mobile devices where the menu expands and
// collapses upon user touch and we need to maintain the actual menu state
// (the simple :hover selector is not enough).
//
// We use a small clever trick with a hidden checkbox. This is the tl;dr of how
// it works:
//
//   input[type="checkbox"] ~ .menu {
//     display: none;
//   }
//
//   input[type="checkbox"]:checked ~ .menu {
//     display: block;
//   }
//
// The "tilde" selector here selects subsequent sibling elements with the .menu
// class. Basically, if the checkbox is checked, the menu next to it is shown.
//
// The actual checkbox is completely hidden and the user interacts with it via
// a linked <label />.
//
// The idea comes from this article:
// https://w3bits.com/css-responsive-nav-menu/
.page-navbar {
	$navbar-height: 100px;
	$logo-width: 200px;
	$active-background: rgba(255, 255, 255, 0.2); // For :hover effects etc.
	$menu-separator-border: 1px solid rgba(0, 0, 0, 0.3);
	$top-sheet-z-index: 100;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: $navbar-height;

	// The navbar padding is responsive and needs to be applied also to absolutely
	// positioned submenus. Having it as a mixin achieves that.
	@mixin navbar-padding {
		padding-left: 24px;
		padding-right: 24px;

		@include for-big-desktops-and-larger {
			padding-left: 64px;
			padding-right: 64px;
		}
	}

	@include navbar-padding();

	// "Top sheet" is an absolutely positioned full-width yellow block with a
	// "fuzzy" bottom border that can slide down from top. Depending on a
	// situation, we need to turn various elements into a top sheet which is why
	// it is defined as a mixin.
	@mixin top-sheet {
		position: absolute;
		top: 0;
		left: 0;
		z-index: $top-sheet-z-index;
		width: 100%;

		@include navbar-padding();

		// Use repeated yellow brush pattern that is aligned with the navbar on top.
		// It expands from the top in all directions and we use a small trick with
		// a mask to create a "fuzzy" border effect at the bottom without any seems.
		background-image: url("../images/page-header-bg-yellow-top-120px.png"),
			url("../images/page-header-bg-yellow-pattern-120px-from-top.png");
		background-position: center top, center 120px;
		background-repeat: repeat-x, repeat;

		mask-image: url("../images/navbar-mask.png");
		mask-position: center bottom;

		// Add top & bottom "padding" to the sheet to create space for the navbar
		// and for the fuzzy bottom border. Standard padding doesn't work well
		// with max-height which is used for collapsing / expanding the menu
		&:before {
			content: "";
			display: block;
			height: $navbar-height;
		}
		&:after {
			content: "";
			display: block;
			height: 40px;
			clear: both;
		}
	}

	// Collapses the top sheet with an animation. As display property cannot be
	// animated, we use the max-height trick with overflow:hidden to hide the
	// sheet from the screen. We add opacity and a little "slide down" effect via
	// translateY to make the animation more subtle.
	@mixin top-sheet-collapsed {
		opacity: 0;
		transform: translateY(-40px);
		transform-origin: top;
		max-height: 0;
		overflow: hidden;
		transition: all 0.2s;
	}

	// Expands the top sheet with an animation.
	@mixin top-sheet-expanded {
		opacity: 1;
		transform: translateY(0);
		max-height: 1600px;
	}

	// Add background to the navbar. As we're using the mask trick to create
	// the fuzzy bottom border, we can't apply the background directly to the
	// navbar as the mask would prevent the expanding menu from being shown.
	&:before {
		// The navbar is a yellow stripe at the top of the screen. It's essentially
		// a "peeking" top sheet.
		@include top-sheet();
		content: "";
		display: block;
		height: $navbar-height + 20px; // For the fuzzy border.
	}

	&__logo {
		display: flex;
		align-items: center;
		width: $logo-width;
		padding: 8px 0;

		// Make the logo visible over the top sheet that slides down from the top.
		z-index: $top-sheet-z-index + 1;

		&:hover {
			background-color: $active-background;
		}

		img {
			height: 53px;
			margin-right: 10px;
		}

		a {
			font-size: 1.25rem;
			font-weight: 500;
			color: black;
			line-height: 1.2;
		}

		a:hover {
			text-decoration: none;
		}
	}

	// A "hamburger" button that activates the menu on mobile devices. It is
	// hidden on desktops.
	&__hamburger {
		padding: 8px;

		// Make the hamburger visible over the top sheet that slides down from the
		// top.
		z-index: $top-sheet-z-index + 1;

		// Label which is linked to the checkbox toggling the menu.
		label {
			display: block;
			background: url("../images/navbar-hamburger.png") no-repeat center center;
			background-size: 37px 29px;
			width: 37px;
			height: 29px;
			cursor: pointer;
			font-size: 0;
			margin: 0;
		}

		&:hover {
			background-color: $active-background;
		}

		@include for-desktops-and-larger {
			display: none;
		}
	}

	// The menu mechanics. If the checkbox is checked, the menu is shown.
	@include for-tablets-and-smaller {
		input[type="checkbox"] ~ &__menu {
			@include top-sheet-collapsed();
		}

		input[type="checkbox"]:checked ~ &__menu {
			@include top-sheet-expanded();
		}

		input[type="checkbox"]:checked ~ &__hamburger {
			label {
				background-image: url("../images/navbar-hamburger-expanded.png");
			}
		}
	}

	// This is a hidden checkbox which activates the corresponding menus. It is
	// toggled via a label, so it doesn't have to be visible
	input[type="checkbox"] {
		display: none;
	}

	// The top level menu (which includes the search form as well).
	&__menu {

		// On small screens, it is a hidden top sheet which slides down.
		@include for-tablets-and-smaller {
			@include top-sheet();
		}

		// On large screens, it is part of the horizontal navbar and only
		// additional sub-menus slide down if activated.
		@include for-desktops-and-larger {
			flex-grow: 1;
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style-type: none;
		}

		a {
			display: block;
			color: black;
			padding: 16px;
			font-weight: 300;
			outline: 0;

			@include for-tablets-and-smaller() {
				// The menu is vertical on small screens, so we separate the items using
				// horizontal lines.
				border-bottom: $menu-separator-border;
			}
		}

		a:hover {
			text-decoration: none;
			background-color: $active-background;
		}

		li:first-child a {
			@include for-tablets-and-smaller() {
				border-top: $menu-separator-border;
			}
		}

		//
		// Top-level menu (the actual menu items).
		//

		& > &__items-container {
			@include for-desktops-and-larger() {
				flex-grow: 1;

				& > ul {
					// On large screens, the menu items are placed horizontally inside the
					// navbar.
					display: flex;
					flex-direction: row;
				}
			}

			// A top-level menu item.
			& > ul > li > a {

				// Enable absolute positioning of the inner label & setting z-index.
				position: relative;

				// Label which is linked to the checkbox activating the corresponding
				// submenu. We display a chevron icon in it which rotates upon
				// activation.
				label {
					font-size: 0;
					cursor: pointer;

					&:after {
						content: "";
						@include icon_chevron_right();
						transition: transform 0.3s;
					}
				}

				// On small screens (which are expected to be touch enabled), the
				// top-level menu is vertical and the chevron button activating the
				// corresponding submenu is aligned to the right of the menu item box.
				@include for-tablets-and-smaller() {
					label {
						$icon-size: 1.8rem;
						position: absolute;
						top: 50%;
						right: 2px;
						margin: -($icon-size / 2) 0 0;
						padding-left: 3px;
						border-left: $menu-separator-border;

						&:after {
							display: block;
							background-size: $icon-size $icon-size;
							width: $icon-size;
							height: $icon-size;
						}
					}
				}

				// On big screens, the top-level menu is horizontal and the chevron is
				// not a button but merely an indicator of nesting which is displayed in
				// line, next to the menu item text.
				@include for-desktops-and-larger() {
					z-index: $top-sheet-z-index + 1;

					label {
						&:after {
							$icon-size: 1.2rem;
							position: absolute;
							top: 50%;
							right: 2px;
							margin: -($icon-size / 2) 0 0;
							display: block;
							background-size: $icon-size $icon-size;
							width: $icon-size;
							height: $icon-size;
							// Chevron down.
							transform: rotate(90deg);
						}
					}
				}
			}

			// On small screens,
			@include for-tablets-and-smaller() {
				input[type="checkbox"]:checked + a {
					background-color: $active-background;

					label {
						&:after {
							// Chevron right to chevron down.
							transform: rotate(90deg);
						}
					}
				}
			}

			@include for-desktops-and-larger() {
				li:hover > input[type="checkbox"] + a {
					background-color: $active-background;

					label {
						&:after {
							// Chevron down to chevron up. We rotate also on the Y axis to
							// create a nice spinning animation.
							transform: rotate(90deg) rotateY(180deg);
						}
					}
				}
			}
		}

		// The sub menu mechanics.
		input[type="checkbox"] ~ &__items-container {
			@include top-sheet-collapsed();
		}

		// On smaller devices, the submenu is activated via the checkbox trick just
		// like the top-level menu.
		@include for-tablets-and-smaller() {
			input[type="checkbox"]:checked ~ &__items-container {
				// Note that even though the submenu on smaller devices is no longer a
				// dedicated top sheet (it is simply nested into the expanded existing
				// sheet), we still (mis)use the sheet mixins for the animations.
				@include top-sheet-expanded();
			}
		}

		// On larger devices, the submenu is activated when the user hovers over the
		// corresponding menu item.
		@include for-desktops-and-larger() {
			li:hover > input[type="checkbox"] ~ &__items-container {
				@include top-sheet-expanded();
			}
		}

		//
		// Sub-level menu
		//

		& > &__items-container > ul > li > &__items-container {
			font-size: 0.9rem;

			a {
				padding: 13px;
			}

			// On small screens, the submenu is a simple vertical list, nested into
			// the expanded existing sheet.
			@include for-tablets-and-smaller() {
				background-color: $active-background;
				margin-left: 24px;

				// Shrink the border in between the menu item and the corresponding
				// submenu.
				margin-top: -1px;
			}

			// On large screens, the submenu is a hidden top sheet which slides down
			// and the menu items are organized into several columns using a flex
			// container.
			@include for-desktops-and-larger() {
				@include top-sheet();

				ul {
					// Horizontally align the menu items with the logo.
					margin-left: $logo-width;
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					flex-grow: 0;
					align-content: flex-start;
					max-height: 250px;

					li {
						width: 250px;
					}
				}
			}
		}

		// Another level of nesting is not supported. So let's hide the menu and
		// show a warning in case somebody accidentally adds another submenu in
		// Wordpress.
		& > &__items-container > ul > li > &__items-container > ul ul {
			> * {
				display: none;
			}

			&:after {
				display: inline-block;
				content: "Další úroveň menu není podporována!";
				font-weight: bold;
				color: white;
				background-color: red;
				padding: 8px;
			}
		}

		//
		// Search (also part of the menu)
		//

		&__search {
			border: 1px solid black;
			display: flex;

			@include for-tablets-and-smaller() {
				width: 100%;
				margin-top: 16px;
			}

			@include for-desktops-and-larger() {
				width: 300px;
				margin-top: 0;
				z-index: $top-sheet-z-index + 1;
			}

			input {
				border: 0;
				padding: 11px 16px;
			}

			input[type="text"] {
				flex-grow: 1;
				min-width: auto;
			}

			input[type="text"]::placeholder {
				font-weight: 300;
			}

			input[type="button"] {
				width: 100px;
				background-color: black;
				color: white;
				font-weight: 700;
			}
		}
	}
}

.page-jumbotron-header .page-navbar {
	// Hide the navbar background if it navbar is part of the jumbotron header
	// which provides the background on its own.
	&:before {
		display: none;
	}
}
