@import "media-query-mixins";

.page-navbar {
	$navbar-height: 100px;
	$logo-width: 200px;
	$active-background: rgba(255, 255, 255, 0.2);
	$menu-separator-border: 1px solid rgba(0, 0, 0, 0.3);
	$top-sheet-z-index: 100;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: $navbar-height;

	@mixin navbar-padding {
		padding: 0 1.5rem;

		@include for-big-desktops-and-larger {
			padding: 2rem 5rem 1rem 5rem;
		}
	}

	@include navbar-padding();

	@mixin top-sheet {
		position: absolute;
		top: 0;
		left: 0;
		z-index: $top-sheet-z-index;
		width: 100%;

		@include navbar-padding();

		background-image: url("../images/page-header-bg-yellow-top-120px.png"),
		url("../images/page-header-bg-yellow-pattern-120px-from-top.png");
		background-position: center top, center 120px;
		background-repeat: repeat-x, repeat;

		// TODO: Add vendor prefixes to make this work in Chrome
		mask-image: url("../images/navbar-mask.png");
		mask-position: center bottom;

		// Add top & bottom "padding" to the sheet to create space for the navbar
		// and for the fuzzy bottom border. Standard padding doesn't work well
		// with max-height which is used to collapsing / expanding the menu
		&:before {
			content: "";
			display: block;
			height: $navbar-height;
		}
		&:after {
			content: "";
			display: block;
			height: 40px;
			clear: both;
		}
	}

	@mixin top-sheet-collapsed {
		opacity: 0;
		transform: translateY(-40px);
		transform-origin: top;
		max-height: 0;
		overflow: hidden;
		transition: all 0.2s;
	}

	@mixin top-sheet-expanded {
		opacity: 1;
		transform: translateY(0);
		max-height: 1600px;
	}

	// Add background to the navbar. As we're using the mask trick to create
	// the fuzzy bottom border, we can't apply the background directly to the
	// navbar as the mask would prevent the expanding menu from being shown.
	&:before {
		@include top-sheet();
		content: "";
		display: block;
		height: $navbar-height;
		padding-bottom: 10px; // For the fuzzy border.
		box-sizing: content-box;
	}

	&__logo {
		display: flex;
		align-items: center;
		z-index: $top-sheet-z-index + 1;
		width: $logo-width;
		padding: 0.5rem 0;

		&:hover {
			background-color: $active-background;
		}

		img {
			height: 53px;
			margin-right: 10px;
		}

		a {
			font-size: 20px;
			font-weight: 500;
			color: black;
		}

		a:hover {
			text-decoration: none;
		}
	}

	&__hamburger {
		z-index: $top-sheet-z-index + 1;
		padding: 0.5rem;

		label {
			display: block;
			background: url("../images/navbar-hamburger.png") no-repeat center center;
			background-size: 37px 29px;
			width: 37px;
			height: 29px;
			cursor: pointer;
			font-size: 0;
			margin: 0;
		}

		&:hover {
			background-color: $active-background;
		}

		@include for-desktops-and-larger {
			display: none;
		}
	}

	@include for-tablets-and-smaller {
		input[type="checkbox"] ~ &__menu {
			@include top-sheet-collapsed();
		}

		input[type="checkbox"]:checked ~ &__menu {
			@include top-sheet-expanded();
		}

		input[type="checkbox"]:checked ~ &__hamburger {
			label {
				background-image: url("../images/navbar-hamburger-expanded.png");
			}
		}
	}

	&__menu {
		@include for-tablets-and-smaller {
			@include top-sheet();
		}

		@include for-desktops-and-larger {
			flex-grow: 1;
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style-type: none;
		}

		a {
			display: block;
			color: black;
			padding: 1rem;
			font-weight: 300;
			outline: 0;

			@include for-tablets-and-smaller() {
				border-bottom: $menu-separator-border;
			}
		}

		a:hover {
			text-decoration: none;
			background-color: $active-background;
		}

		li:first-child a {
			@include for-tablets-and-smaller() {
				border-top: $menu-separator-border;
			}
		}

		//
		// Top-level menu
		//

		& > &__items-container {
			@include for-desktops-and-larger() {
				flex-grow: 1;

				& > ul {
					display: flex;
					flex-direction: row;
				}
			}

			& > ul > li > a {
				// For positioning the label & setting z-index.
				position: relative;

				// Label which is linked to the checkbox activating the sub menu. We
				// display a chevron icon in it which rotates up activation.
				label {
					font-size: 0;
					cursor: pointer;

					&:after {
						content: "";
						@include icon_chevron_right();
						transition: transform 0.3s;
					}
				}

				@include for-tablets-and-smaller() {
					label {
						$icon-size: 1.8rem;
						position: absolute;
						top: 50%;
						right: 0.1rem;
						margin: -($icon-size / 2) 0 0;
						padding-left: 0.2rem;
						border-left: $menu-separator-border;

						&:after {
							display: block;
							background-size: $icon-size $icon-size;
							width: $icon-size;
							height: $icon-size;
						}
					}
				}

				@include for-desktops-and-larger() {
					z-index: $top-sheet-z-index + 1;

					label {
						width: 0.2rem;

						&:after {
							$icon-size: 1.2rem;
							position: absolute;
							top: 50%;
							right: 0.1rem;
							margin: -($icon-size / 2) 0 0;
							display: block;
							background-size: $icon-size $icon-size;
							width: $icon-size;
							height: $icon-size;
							transform: rotate(90deg);
						}
					}
				}
			}

			@include for-tablets-and-smaller() {
				input[type="checkbox"]:checked + a {
					background-color: $active-background;

					label {
						&:after {
							transform: rotate(90deg);
						}
					}
				}
			}

			@include for-desktops-and-larger() {
				li:hover > input[type="checkbox"] + a {
					background-color: $active-background;

					label {
						&:after {
							transform: rotate(90deg) rotateY(180deg);
						}
					}
				}
			}
		}

		input[type="checkbox"] ~ &__items-container {
			@include top-sheet-collapsed();
		}

		@include for-tablets-and-smaller() {
			input[type="checkbox"]:checked ~ &__items-container {
				@include top-sheet-expanded();
			}
		}

		@include for-desktops-and-larger() {
			li:hover > input[type="checkbox"] ~ &__items-container {
				@include top-sheet-expanded();
			}
		}

		//
		// Sub-level menu
		//

		& > &__items-container > ul > li > &__items-container {
			font-size: 0.9rem;

			a {
				padding: 0.8rem;
			}

			@include for-tablets-and-smaller() {
				background-color: $active-background;
				margin-left: 1.5rem;
				margin-top: -1px; // To shrink the border in between.
			}

			@include for-desktops-and-larger() {
				@include top-sheet();

				ul {
					margin-left: $logo-width;
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					flex-grow: 0;
					align-content: flex-start;
					max-height: 250px;

					li {
						width: 250px;
					}
				}
			}
		}

		// TODO: block additional menu layer

		//
		// Search (also part of the menu)
		//

		&__search {
			width: 100%;
			border: 1px solid black;
			display: flex;
			margin-top: 1rem;

			@include for-desktops-and-larger() {
				width: 300px;
				margin-top: 0;
				z-index: $top-sheet-z-index + 1;
			}

			input {
				border: 0;
				padding: 0.7rem 1rem;
			}

			input[type="text"] {
				flex-grow: 1;
				min-width: auto;
			}

			input[type="text"]::placeholder {
				font-weight: 300;
			}

			input[type="button"] {
				width: 100px;
				background-color: black;
				color: white;
				font-weight: 700;
			}
		}
	}

	// Necessary menu mechanics
	input[type="checkbox"] {
		display: none;
	}
}

.page-jumbotron-header .page-navbar {
	// Hide the navbar background if it navbar is part of the jumbotron header
	// which provides the background on its own.
	&:before {
		display: none;
	}
}
