@import "../common/common-mixins";
@import "../common/config";
@import "../common/icons";
@import "../common/media-query-mixins";

.front-page {
	$front-page-width: 960px;
	$content-gutter: $spacer * 4;

	&__header {
		height: 600px;
		background-image: url("../images/page-header-bg-blue.png"),
			url("../images/page-header-bg-yellow.png");
		// If you change the top offset for the blue background, you also need to
		// update the parallax effect definition in public/assets/scripts/index.js.
		background-position: center 40px, center top;
		background-repeat: repeat-x, repeat-x;

		// By default we optimize for small screens and show the boat bellow the
		// header text.

		h1 {
			text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.6);
			text-align: center;
			line-height: 1;
			margin: 0;
			padding-top: 50px;
		}

		&__title {
			font-size: 7.5rem;
			font-weight: bold;
			display: block;
		}

		&__subtitle {
			font-size: 2.5rem;
			font-weight: normal;
			max-width: 300px; // To wrap the subtitle to multiple lines
			margin: 0 auto;
			display: block;
		}

		&__boat {
			background: url("../images/page-header-bg-boat.png") center center no-repeat;
			height: 237px;
			// Move the boat up a little to overlap the text above
			position: relative;
			top: -28px;
		}

		// On bigger screens with enough space, we show the boat to the right of the
		// header text.
		@include for-tablets-and-larger {
			$boat-z-index: 0;
			position: relative; // To position the boat absolutely

			h1 {
				padding-top: 30px;

				// Align the text to the right with center line.
				padding-right: 50%;
				text-align: right;

				// Put the text over the boat and waves.
				position: relative;
				z-index: $boat-z-index + 1;
			}

			&__title {
				font-size: 8rem;
			}

			&__subtitle {
				font-size: 3.1rem;
				line-height: 1.2;
				max-width: 200px; // To wrap the subtitle to multiple lines
				margin: 0;
				float: right;
			}

			&__boat {
				width: 100%;
				position: absolute;
				top: 200px;
				// Move the boat off-center to the right.
				background-position: calc(50% + 220px) 50%;
				z-index: $boat-z-index;

				// Place an animated dove over the boat.
				&:after {
					content: "";
					display: block;
					position: absolute;
					z-index: $boat-z-index + 1;
					background: url("../images/page-header-dove.gif") no-repeat top left;
					background-size: contain;

					// Make sure that the dove is positioned properly, taking off from the
					// aft deck and landing to the front circular window.
					width: 600px;
					height: 375px;
					top: -210px;
					left: calc(50% + 40px);
				}
			}
		}
	}

	.page-navbar {
		// Hide the navbar background if it navbar is part of the front-page header
		// which provides the background on its own.
		&:before {
			display: none;
		}
	}

	&__content {
		margin: 0 auto;
		max-width: $base-event-thumbnail-width;
	}

	&__posts {
		h2 {
			@include secondary-font();
			font-size: 4rem;
			font-weight: 700;
			margin-top: 0;
		}
	}

	&__post {
		margin-bottom: $spacer * 2;

		h3 {
			font-size: 1.5rem;
			margin-bottom: 0.5rem;

			a {
				color: $primary-text-color;
			}
		}

		// This is a neat hack :/ Due to WordPress' limitations of the
		// "excerpt_more" filter, we can't easily append a "Read more" link to the
		// post's excerpt, only a generic "..." string which is identified by the
		// wp-excerpt-more class. So we append that "Read more" link manually to all
		// excerpts but hide it by default...
		&__read-more {
			display: none;
		}

		// ...unless there is "..." present, indicating that there is more to read.
		.wp-excerpt-more ~ &__read-more {
			display: inline;
		}
	}

	@include for-desktops-and-larger {
		&__content {
			width: $front-page-width;
			max-width: none;
			display: flex;
			justify-content: space-between;
		}

		&__events {
			width: $base-event-thumbnail-width;
			flex-shrink: 0;
			margin-right: $content-gutter;
		}
	}
}
