@import "../common/icons";
@import "../common/common-mixins";
@import "../common/config";

.single-event {
	&__header {
		// Limit the height of the header so that the featured image (typically the
		// event poster) remains partially hidden and shows only upon expansion of
		// the header.
		overflow: hidden;
		max-height: 460px;
		transition: all 0.5s;

		// Clickable label that expands the header.
		&__featured-image {
			display: block;
			max-width: $base-content-width;
			overflow: hidden; // For the rounded borders
			border-radius: 15px;
			margin: 0 auto;
			cursor: pointer;
			transition: all 0.5s;

			img {
				width: 100%;
				max-height: none;
				margin: 0;
			}
		}

		&__featured-image-download {
			margin: $spacer auto;
		}
	}

	// We are using the same trick with a hidden checkbox to collapse / expand
	// the featured image without any JavaScript. Check page-navbar.scss for how
	// this works.
	input[type="checkbox"]#toggle-event-featured-image {
		display: none;
	}

	input[type="checkbox"]#toggle-event-featured-image:checked ~ .single-event__header {
		max-height: 2000px;

		.single-event__header__featured-image {
			box-shadow: 0 0 50px 0 rgba(0,0,0,0.3);
		}
	}

	&.single-event-past {
		.single-event__header__featured-image {
			img {
				filter: grayscale(100%);
			}
		}
	}

	&__info {
		margin-bottom: $component-spacer;
		font-weight: 500;
		padding: 0;

		li {
			list-style-type: none;
			margin-bottom: $spacer / 2;

			// Display an icon for each list element.
			&:before {
				content: "";
				display: inline-block;
				width: 1.5rem;
				height: 1.5rem;
				background-size: cover;
				margin-right: 0.5rem;
				opacity: 0.4;

				// Some magic to align the icon vertically with the text.
				vertical-align: middle;
				position: relative;
				top: -0.1rem;
			}
		}

		&__date {
			&:before {
				@include icon_access_time();
			}
		}

		&__address {
			&:before {
				@include icon_location_on();
			}
		}

		&__price {
			&:before {
				@include icon_local_offer();
			}
		}

		&__links {
			&:before {
				@include icon_link();
			}

			// Separate links by a bullet point.
			span:not(:last-child):after {
				content: " •";
				margin: 0 0.2rem;
			}
		}
	}

	&__text {
		margin-bottom: $component-spacer;
	}

	&__register-button {
		@include primary-button();

		display: block;
		margin: 0 auto $component-spacer;
		text-align: center;
		max-width: 300px;
	}

	&__related-posts {
		margin-bottom: $component-spacer;

		h2 {
			font-size: 1.5rem;
		}
	}

	&__related-post {
		font-size: 0.9rem;
		margin-bottom: $spacer;

		h3, p {
			margin-bottom: $spacer / 2;
		}

		h3 {
			font-size: 1.1rem;
		}
	}
}
