$primary-font-family: Roboto, sans-serif;
$secondary-font-family: "Amatic SC", "Roboto Slab";

$primary-text-color: black;
$secondary-text-color: #737373;

// A default spacing constant so that spaces between individual elements
// (margins, paddings) are not completely arbitrary.
$spacer: 16px;
$component-spacer: $spacer * 3;

$button-border-radius: 6px;
