$base-font-size: 18px;

$primary-font-family: Roboto, sans-serif;
$secondary-font-family: "Amatic SC";

$primary-text-color: black;
$secondary-text-color: #737373;

// A default spacing constant so that spaces between individual elements
// (margins, paddings) are not completely arbitrary.
$spacer: 16px;
$component-spacer: $spacer * 3;

$button-border-radius: 6px;
$figure-border-radius: 6px;

// The default width for a content page across the whole site. Chosen to make
// the text on the page not too wide and easily readable.
$base-content-width: 680px;

// The default width for an event thumbnail across the whole site.
$base-event-thumbnail-width: 530px;
