/* amatic-sc-regular - latin-ext_latin */
@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 400;
	src: local('Amatic SC Regular'), local('AmaticSC-Regular'),
	url('../fonts/amatic-sc-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/amatic-sc-v13-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* amatic-sc-700 - latin-ext_latin */
@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	src: local('Amatic SC Bold'), local('AmaticSC-Bold'),
	url('../fonts/amatic-sc-v13-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/amatic-sc-v13-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
