// Inspired by Bootstrap.
$tablet-min-width: 576px;

// The horizontal menu is fairly big so let's give it enough space. 1200px is
// still fine as most laptops will comfortably match.
$desktop-min-width: 1200px;

$big-desktop-min-width: 1400px;

@mixin for-desktops-and-larger {
	@media (min-width: $desktop-min-width) { @content; }
}

@mixin for-big-desktops-and-larger {
	@media (min-width: $big-desktop-min-width) { @content; }
}

@mixin for-tablets-and-larger {
	@media (min-width: ($tablet-min-width )) { @content; }
}

@mixin for-tablets-and-smaller {
	@media (max-width: ($desktop-min-width - 0.02)) { @content; }
}
