@import "common-mixins";
@import "config";
@import "font-roboto";
@import "font-amatic-sc";

@mixin typography {
	font-family: $primary-font-family;
	color: $primary-text-color;
	line-height: 1.6;

	h1 {
		@include secondary-font();
	}

	h2, h3, h4, h5, h6 {
		margin-bottom: 1rem;
		margin-top: 2rem;
		font-weight: 500;
	}

	h2 {
		font-size: 1.8rem;
		line-height: 1.2;
	}

	h3 {
		font-size: 1.6rem;
	}

	h4 {
		font-size: 1.35rem;
	}

	h5 {
		font-size: 1.15rem;
	}

	h6 {
		font-size: 1rem;
	}

	p {
		margin-bottom: 1rem;
	}

	figure.wp-block-image {
		margin: $spacer * 2 0;

		figcaption {
			text-align: center;
			color: $secondary-text-color;
			margin: $spacer 0;
		}
	}
}
