register:

	event_fields:
		title: Nastavení události
		post_type: event
		fields:
			start_date:
				name: "Začátek"
				type: date
			end_date:
				name: "Konec"
				type: date

	post_fields:
		title: Nastavení aktuality
		post_type: post
		fields:
			related_event:
				name: "Související událost"
				type: post
				post_type: event
				placeholder: "vyberte související událost"


	page_fields:
		title: Nastavení stránky
		post_type: page
		fields:
			subtitle:
				name: "Podtitulek"
				type: string
				post_type: page
