defaults:
	show_admin_column: true
	show_ui: true
	show_in_menu: true

register:

	# Check MangoPress repo for examples of registering custom taxonomies:
	# https://github.com/manGoweb/MangoPress/tree/master/theme/schema
