{extends @layout.latte}

{block page-title}Chyba 404: Stránka nenalezena{/block}

<div n:block="page-header">
	<img src="assets/images/illustration-sleeping.png" alt="{include page-title}" />
	<h1>Chyba 404</h1>
	<div class="page-header__subtitle">Hledejte a naleznete. Ale ne tady.</div>
</div>

<div n:block="page-content">
	<p>Mrzí nás to, ale tato stránka neexistuje.</p>
	<p>Pokud se domníváte, že by existovat měla, <a n:attr="href => get_permalink(527)">dejte nám vědět</a>.</p>
</div>
