{extends @layout.latte}

{block page}
<h1>Kalendář</h1>
{each}
	<h2><a href="{$Post|wp_permalink}">{$Post|wp_title}</a></h2>
	{$Post|wp_content}

	<ul>
		<li>Začátek akce: {$Post->start_date|date:'j. n. Y'}</li>
		<li>Konec akce: {$Post->end_date|date:'j. n. Y'}</li>
	</ul>

{/each}

<h2>Stránkování</h2>
<ul>
	<li n:if="$previous_posts_link">{$previous_posts_link|noescape}</li>
	<li n:if="$next_posts_link">{$next_posts_link|noescape}</li>
</ul>
