@import "../common/media-query-mixins";
@import "../common/common-mixins";

.page-header {
	// Actual height of white-fuzzy-border-bottom.png.
	$bottom-fuzzy-border-height: 69px;

	@include page-horizontal-padding();

	background: url("../images/bg-gray-pattern.png") repeat top center;
	text-align: center;
	padding-top: $spacer * 3;
	padding-bottom: $bottom-fuzzy-border-height;
	margin-bottom: $spacer * 2;
	position: relative;

	// Implement the bottom fuzzy border using a floating, absolutely positioned
	// element at the bottom of the header. Compared to adding the border as
	// additional background or using a mask, this approach allows the fuzzy
	// border to be both above & below elements contained in the header, just as
	// needed.
	&:after {
		content: "";
		width: 100%;
		height: $bottom-fuzzy-border-height;
		position: absolute;
		left: 0;
		bottom: 0;
		background: url("../images/white-fuzzy-border-bottom.png") repeat-x center bottom;
	}

	img {
		max-height: 200px;
		max-width: 100%;
		margin-bottom: $spacer;
	}

	h1 {
		font-size: 4.4rem;
		line-height: 1;

		@include for-tablets-and-larger {
			font-size: 5rem;
		}
	}

	&__subtitle {
		font-size: 1.1rem;
		font-weight: 300;
		padding-bottom: $spacer;

		@include separate-spans-by-bullet();
	}
}
